*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color-caixa: #E9E9E9;
    --bg-color-body: #2f1e65;
    --bg-color-submit: #8b6af7;
    --bg-color-submit-hover: #7652da;
    --bg-color-submit-active: #453180;
    --txt-color: #fff;
    --txt-color-a: #6c4dcf;
    --bg-color-input: #CBCBCB;
}

body{
    background-color: var(--bg-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#caixa{
    background-color: var(--bg-color-caixa);
    margin: 20vh;
    border: 1px solid;
    border-radius: 25px;
    padding: 37px;
    text-align: center;
    position: relative;
    width: 50vh;
    height: 100%;
}

input[type="email"]{
    margin-left: 5px;
    margin-right: -1.5px;
}

input[type="senha"]{margin-left: 2px;}

input[type="email"], input[type="password"]{
    width: 80%;
    height: 4vh;
    border: solid 2px;
    border-radius: 6px;
    text-indent: 2px;
    text-align: left;
    background-color: var(--bg-color-input);
}

input[type="submit"]{
    padding: 13px;
    border-radius: 25px;
    color: var(--txt-color);
    background-color: var(--bg-color-submit);
    cursor: pointer;
    width: 90%;
    text-align: center;
    border: none;
    
}

a{
    font-size: 14px;
    color: var(--txt-color-a);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

::placeholder{
    text-indent: 2px;
    color: rgb(187, 187, 187);
}

input[type="email"]:focus, input[type="password"]:focus {
    border: 2px solid #8a2be2;
    outline: none;
    transition: 0.2s;
}

input[type="submit"]:hover{
    background-color: var(--bg-color-submit-hover);
    transition: 0.5s;
}

input[type="submit"]:active{
    background-color: var(--bg-color-submit-active);
    transition: 0.4s;
}

::placeholder{
    color: gray;
    font-size: small;
}

.custom-error-message {
    background-color: #ffc9c9;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: #ff0000;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: -30px;
}

@media only screen and (min-width: 1200px){
  #caixa{
    margin-top: 24vh;
    padding: 33px;
  }
}

@media only screen and (min-width: 1400px) {
    #caixa{
        margin-top: 24vh;
    }
}

@media only screen and (min-width: 1800px) {
    input[type="submit"]{
        width: 90%;
    }
}