*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

:root{
    --bg-color: #453180;
    --box-color:#453180;
    --box-hover: #5d42ad;
    --box-active: #2b1e50;
    --bg-color-nav: #6c4dcf;
    --bg-color-nav-hover: #35265f;
    --bg-color-submit-button-hover: #7652da;
    --bg-color-submit-button-active: #453180;
    --bg-color-button: #9584FA;
    --txt-color: #e9e9e9;
}



body{
    background-color: #e9e9e9;  
}

.box1 img{
    border-radius: 100px;
    width: 15vh;
}


.box1{
    background-color: var(--bg-color);
    color: white;
    text-align: center;
    padding-top: 11vh;
}

.box2{
    display: flex;
    justify-content: center;

}

button{
    margin: 5vh;
    background-color: var(--box-color);
    cursor: pointer;
    border-radius: 7px;
    width: auto;
    padding: 5vh 5vh;
    color: white;   
}

.buttonT{
    display: inline-block;
    text-align: center;
    
}

#icon1{
    font-size: 6vh;
    border: 6px solid white;
    padding: 2vh;
    border-radius: 100px;
    color: white;
    text-align: center;
}    

.criar-projeto-p{
    font-size: 3.3vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 0.7;
}

#icon3{
    font-size: 6vh;
    border: 6px solid white;
    padding: 2vh;
    border-radius: 100px;
    text-align: center;
}

#icon2{
    font-size: 6vh;
    border: 6px solid white;
    padding: 2vh;
    border-radius: 100px;
    text-align: center;
}

.lista-projeto-p{
    font-size: 3.3vh;
}


button:hover{
    background-color: var(--box-hover);
    transition: 0.3s;
}

button:active{
    background-color: var(--box-active);
    transition: 0.3s;
}

/*Barra de navegação COMEÇO*/
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    padding-top: 30px;
    left: 0;
    background: var(--bg-color-nav);
    transition: 0.6s;
    z-index: 1;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display: none;
}

.sidebar .image{
    width: 95px;
    height: 95px;
    border-radius: 100px;
}

.sidebar h2{
    font-size: 23px;
    color: var(--txt-color);
    margin-top: 0;
    margin-bottom: 20px;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda a largura */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto estiver cortado */
}

.sidebar #exit{
    padding-left: 42px;
    margin: 0 auto ;
    padding-top: 0 ;
    padding-bottom: 0;
    text-align: left;
    background-color: var(--bg-color-nav);
    border: none;
    border-radius: 0;
}

#check:checked ~ .sidebar #sair span{
    padding-left: 1344vh;
}

.sidebar .itens{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;

}



.sidebar .itens:hover, .sidebar #exit:hover {
    background-color: var(--bg-color-nav-hover);
    transition: 0.3s;
}

.sidebar i{
    padding-right: 10px;
    font-size: 20px;
    color: #fff;
}

label#check{
    z-index: 2;
    position: fixed;
    left: 17px;
    color: var(--txt-color);
    font-size: 30px;
    margin: 5px 0;
    cursor: pointer;
}  

input[type='checkbox']{
    display: none;
}

label#check:hover{
    color: var(--bg-color-nav-hover);
    transition: 0.3s;
}



#check:checked ~ .sidebar{
    left: -190px;
    transition: 0.6s;
}

#check:checked ~ .sidebar .itens span, #check:checked ~ .sidebar .exitBottom span{
    display: none;
}

#check:checked ~ .sidebar .itens{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
    transition: 0.6s;
} 

.exitBottom:hover{
    background-color: var(--bg-color-nav-hover);
}

.fa-bell{
    padding-left: 1px;
    cursor: pointer;
}

.exitBottom{
    background-color: var(--bg-color-nav);
    border: none;
    cursor: pointer;
}

.navbar{
    height: 10vh;
}

#buttonNoti{
    padding-top: 0;
}
/*Barra de navegação FIM*/

.actived{background-color: #453180;}

#iconBar1{
    font-size: 3.8vh;
}

.modal-content{background-color: #f5f5f5;}

.modal-body img{
    display: block;
    margin: 0 auto;
}

.image:hover {
    opacity: 0.8;
    border: 2px solid #6c4dcf;
  }



.perfil{
    font-size: 3.3vh;
}

.modal .btn-close:active, .modal .btn-close:hover{
    background-color: var(--bg-color-button);
}

.modal input, .modal select{
    border-radius: 100px;
}


.modal .btn-close:focus,
.modal input:focus,
.modal select:focus,
.modal textarea:focus {
  border-color: #8a2be2;
  box-shadow: 0 0 0 0.18rem var(--bg-color-button)
}

.btn-secondary{
    background-color: var(--bg-color-button);
    border: none;
}

.btn-secondary:hover{
    background-color: var(--bg-color-submit-button-hover);
    transition: 0.5s;
}

.btn-secondary:active{
    background-color: var(--bg-color-submit-button-active) !important;
    transition: 0.5s;
}

.btn-primary{
    background-color: var(--bg-color-nav);
    border: none;
}

.btn-primary:hover{
    background-color: #876cdd;
    transition: 0.5s;
}

.btn-primary:active{
    background-color: var(--bg-color-submit-button-active) !important;
    transition: 0.5s;
}

