<!DOCTYPE html>
<html lang="pt-br" xlmns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/Login_style.css" type="text/css">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/images/Furão da Neve.jpg" type="image/x-icon">

	<title>Ferret - Login</title>
</head>

<body>

	<form method="POST" action="/ferret/Login" th:object="${usuario}">

		<div id="caixa">
			<h2><b>Login</b></h2><br><br><br>
			<div class="alert alert-danger my-3 rounded-0 border-0 custom-error-message" role="alert" th:if="${msg}">
				<strong th:text="${msg}"></strong>
			</div>


			<b><label for="txtemail">Email <input type="email" name="email" id="txtemail" placeholder="Digite seu email"
						th:field="*{email}" required></label></b><br><br>
			<b><label for="txtsenha">Senha <input type="password" name="senha" id="txtsenha"
						placeholder="Digite sua senha" th:field="*{senha}" required></label></b><br><br><br>

			<input type="submit" value="Enviar">

			<!--<a th:href="@{Esquecisenha}"><b>Esqueci minha senha</b></a>-->
		</div>
	</form>


</body>

</html>